<head>
  <title>Development Site</title>
  <meta name="show_in_tuts" content="false" type="boolean"/>
</head>
<body>
  <div class="overview">
    <h1>Comatose</h1>
    <p>... is a micro-CMS Rails plugin. Version 0.8.1 is for Rails 1, version 2 (currently in beta) is for Rails 2.</p>
  </div>

  <div class="home
  ">
  {% for post in posts limit:1 %}
      <div class="post">
        <h2>{{ post.title }}</h2>
        <div class="meta">
          Published on {{ post.publish_date | short_date }}. {{ post.body | number_of_words }} words. <span class="comments" title="Comments"><a href="javascript:HaloScan('{{ post.slug }}');" target="_self"><script type="text/javascript">postCount('{{ post.slug }}');</script></a></span>
        </div>
        <div class="body">
          {{ post.body }}
        </div>
      </div>
  {% endfor %}

  </div>

  <div class="archive">
    <h3>Recently on <strike>Lost</strike> the DevBlog:</h3>

    {% for post in posts limit:3 offset:1 %}
        <div class="post">
          <h4>
            <a href="{{ post | uri_rel }}">{{ post.title }}</a>
            <span class="meta">{{ post.publish_date | short_date }}</span>
          </h4>
          <div class="summary">{{ post.summary }}</div>
        </div>
    {% endfor %}

  </div>
</body>
